<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <title>Document</title>
</head>
<body>
  <div id="app" class="container">

    <div class="logo">
      <img src="https://www.boolean.careers/images/misc/logo.png" alt="">
    </div>

    <div class="new-todo">
      <h4 v-if="alertActive">Attenzione! Inserisci un testo più lungo!</h4>
      <input 
        v-model="strTodo"
        type="text" 
        @keyup.enter="addTodo"
        placeholder="Inserisci un nuovo todo"
      >

      <button @click="addTodo">Add</button>
    </div>

    <div class="todos-container">
      <ul>
        <!-- ciclo arr todos -->
        <!-- passo index xkè serve x eliminare il singolo obj -->
        <!-- op ternario x il bind della classe  -->
        <!-- se è checked stampo la classe -->
        <!-- se devo creare una 2nda condiz non posso farlo nel :class -->
        <!-- posso xò fare il bind con style -->

        <li
          v-for="(todo, index) in todos"
          :class="todo.checked ? 'checked' : null" 
          :style="(index === todos.lenght - 1) ? 'border: none' : null"
          @click="todo.checked = !todo.checked"

        > <!-- il click funziona come un toggle -->

          {{ todo.todo }}
          <i
            @click.stop="removeTodo(index)"
            class="fas fa-times">
          </i> <!-- click stop mi va a eliminare i conflitti che ci possono essere tra il padre e il figlio in un contenitore -->



        </li>

      </ul>
    </div>



  </div>


  <script src="assets/js/script.js"></script>
  
</body>
</html>